<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <CommandLineArguments>"Hello World" 456</CommandLineArguments>
  </PropertyGroup>
</Project>
