@echo off
REM If you have special environment variable(env-var) to set for you own .bat files,
REM you can set it here.

echo Loading Env-vars from "%~f0"

call :SetEnvVar vspg_SampleEnvvar1=0001
call :SetEnvVar vspg_SampleEnvvar2=0002

exit /b

REM =============================
REM ====== Functions Below ======
REM =============================

:SetEnvVar
  set setcmd=set %*
  echo.  %setcmd%
  %setcmd%
exit /b

