@echo off
setlocal EnableDelayedExpansion

set batfilenam=%~n0%~x0
set batdir=%~dp0
set batdir=%batdir:~0,-1%
set _vspgINDENTS=%_vspgINDENTS%.
call :Echos START from %batdir%

if defined vspg_DO_SHOW_VERBOSE (
	call :EchoVar SolutionDir
	call :EchoVar ProjectDir
	call :EchoVar BuildConf
	call :EchoVar IntrmDir
	call :EchoVar TargetDir
	call :EchoVar PlatformName
	call :EchoVar TargetName
)

REM ==== Prelude Above ====

set AGILE_COPY_PATTERNS="%ExeDllDir%\%TargetFilenam%"
set AGILE_BARN_DIRS=d:\barn "d:\barn output"
rem -- The above two should match those in PostBuild-CopyOutput4.bat .
rem    To ensure they always match, you can define them in VSPU-StartEnv.bat, once and for all.

if not defined AGILE_BARN_DIRS (
	call :Echos AGILE_BARN_DIRS is empty, nothing to clean.
	exit /b 0
)

if not defined AGILE_COPY_PATTERNS (
	call :Echos [ERROR] AGILE_COPY_PATTERNS is empty.
	exit /b 4
)


REM For the two AGILE_xxx, escape double-quotes for wrapping into a single bat-parameter.
call :PackDoubleQuotes %AGILE_COPY_PATTERNS%
set __SourcePatterns__=%_vspg_dqpacked%
rem
call :PackDoubleQuotes %AGILE_BARN_DIRS%
set __DestDirs__=%_vspg_dqpacked%

set DestSubdir=%PlatformName%\%BuildConf%

set VSPG_COPYFILE_DO_DELETE=1
call "%bootsdir%\AgileCopyOrDelete.bat"  "%ExeDllDir%"  "%__SourcePatterns__%"  "%__DestDirs__%"  "%DestSubdir%"

exit /b %ERRORLEVEL%


REM =============================
REM ====== Functions Below ======
REM =============================

:Echos
  REM This function preserves %ERRORLEVEL% for the caller,
  REM and, LastError does NOT pollute the caller.
  setlocal & set LastError=%ERRORLEVEL%
  echo %_vspgINDENTS%[%batfilenam%] %*
exit /b %LastError%

:EchoAndExec
  echo %_vspgINDENTS%[%batfilenam%] EXEC: %*
  %*
exit /b %ERRORLEVEL%

:EchoVar
  setlocal & set Varname=%~1
  call echo %_vspgINDENTS%[%batfilenam%] %Varname% = %%%Varname%%%
exit /b 0

:SetErrorlevel
  REM Usage example:
  REM call :SetErrorlevel 4
exit /b %1

:PackDoubleQuotes
  REM Take whole %* as input, replace each " with "" and return the result string.
  REM The return value is put in global var _vspg_dqpacked .
  set allparams=%*
  set _vspg_dqpacked=%allparams:"=""%
exit /b 0

:UnpackDoubleQuotes
  setlocal & set allparams=%~2
  set unpacked=%allparams:""="%
  endlocal & (set %~1=%unpacked%)
exit /b 0

