@echo off
setlocal EnableDelayedExpansion

set batfilenam=%~n0%~x0
set batdir=%~dp0
set batdir=%batdir:~0,-1%
set _vspgINDENTS=%_vspgINDENTS%.
call :Echos START from %batdir%

call "%bootsdir%\GetParentDir.bat" parentdir "%batdir%"

REM We have to endlocal here, bcz the following :SetEnvVar need to change parent bat's env.
endlocal & (
	REM Every batch var definition from now on will affect the parent env.
	REM So be conservative, define as little env-var as possible.
	REM I suggest to prefix them with _tmp_ if you don't use them after this bat exits.
	set _tmp_=%parentdir%
)


REM If you have special environment variable(env-var) to set for you own .bat files,
REM you can set it here.

call :Echos0 Loading Env-vars (affecting parent env).

REM ################ KEY CONTENT HERE ################ 

REM call :SetEnvVar AGILE_COPY_PATTERNS="%ExeDllDir%\%TargetFilenam%"
REM call :SetEnvVar AGILE_BARN_DIRS=d:\barn "d:\barn output"

exit /b 0

REM =============================
REM ====== Functions Below ======
REM =============================

:Echos
  REM This function preserves %ERRORLEVEL% for the caller,
  REM and, LastError does NOT pollute the caller.
  setlocal & set LastError=%ERRORLEVEL%
  echo %_vspgINDENTS%[%batfilenam%] %*
exit /b %LastError%

:EchoAndExec
  echo %_vspgINDENTS%[%batfilenam%] EXEC: %*
  call %*
exit /b %ERRORLEVEL%

:Echos0
  REM This function preserves %ERRORLEVEL% for the caller,
  REM and, LastError does NOT pollute the caller.
  setlocal & set LastError=%ERRORLEVEL%
  echo %_vspgINDENTS%.[%~n0%~x0] %*
exit /b %LastError%

:SetEnvVar
  call :Echos0 set %*
  set %*
exit /b 0
